# ==========================================
# ✈️ TELEGRAM MTPROTO SERVICE - ENVS
# ==========================================

PORT=4000
TELEGRAM_API_ID=1234567
TELEGRAM_API_HASH=seu_hash_telegram_api_aqui
